<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理员登录</title>
    <style>
      .login-dialog{
        position: absolute;
        width: 250px;
        height: 200px;
        left: 50%;
        top: 50%;
        margin: -125px 0 0 -100px;
      }
    </style>
  </head>
  <body>
    <div class="login-dialog">
      <form action="/admin/login" method="post">
        用户：<input type="text" name="username"/><br>
        密码：<input type="password" name="password"/><br>
        <input type="submit" value="登录"/>
        <span>首页简介里可看到</span>
      </form>
    </div>
  </body>
</html>
